<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>play</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<ul>
    <li th:each="game:${games}">
        <div class="container">
            <h2 th:text="${game.getName()}"></h2>
            <p th:text="${game.getDescription()}"></p>
            <a th:href="@{/play/{id}(id=${game.getId()})}">visualizza</a>
        </div>
    </li>
</ul>

    <a th:href="@{/info}">Info</a>

</body>
</html>